[% INCLUDE 'peliculas/titulo.tt2' %]

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Reparto</div>
        <div class="panel-body">
          <ul>
          [%- FOREACH fa IN film.film_actors %]
            <li>[% fa.actor.full_name %]</li>
          [%- END %]
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Información Adicional</div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Año</dt>
            <dd>[% film.release_year %]</dd>
            <dt>Idioma</dt>
            <dd>[% film.language.name %]</dd>
            <dt>Duración</dt>
            <dd>[% film.length %] minutos</dd>
            <dt>Clasificación MPAA</dt>
            <dd>[% film.rating %]</dd>
          </dl>
          <a class="btn btn-info pull-right"
             href="[% Catalyst.uri_for('/peliculas/'_ film.id _'/reciente') %]">
             Ver Aquileres recientes
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Disponible en Tiendas</div>
        <div class="panel-body">
          [%- IF tiendas.size %]
          <ul>
            [%- FOREACH fila IN tiendas %]
            <li>
                <a href="[% Catalyst.uri_for('/peliculas/' _ film.id _ '/tienda/' _ fila.id ) %]">[% fila.tienda.name %]</a>
            </li>
            [%- END %]
          </ul>
          [%- ELSE %]
          <div class="alert alert-warning" role="alert">No hay disponibilidad actualmente</div>
          [%- END %]
        </div>
      </div>
    </div>
  </div>
</div>